<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/css/base.css">
    <link rel="stylesheet" href="../public/css/layout.css">
    <link rel="stylesheet" href="../public/css/modules.css">
</head>
<body>
    <div class="wrapper">
        <header class="header"><p>a</p></header>
    
        <aside class="aside"><p>b</p></aside>
        
        <section class="section1"><p>c</p></section>
        <section class="section2"><p>d</p></section>
        <section class="section3"><p>e</p></section>
        <section class="section4"><p>f</p></section>
        <section class="section5"><p>g</p></section>
        <section class="section6"><p>h</p></section>
        
        <footer class="footer"><p>i</p></footer>
    </div>
</body>
</html>