<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/css/base.css">
    <link rel="stylesheet" href="../public/css/layout.css">
    <link rel="stylesheet" href="../public/css/modules.css">
</head>
<body>
    <header>
        <h1><a href="./index.html">Brand Name</a></h1>

        <nav>
            <ul>
                <li>
                    Dropdown

                    <ul>
                        <li><a href="#">Dropdown Link</a></li>
                        <li><a href="#">Dropdown Link</a></li>
                        <li><a href="#">Dropdown Link</a></li>
                    </ul>
                </li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="section1">
            <!-- <video autoplay loop id = "bgVid">
                <source src="#" type="video/mp4"> 
            </video> -->
            <section>
                <h1>Here there shall be some</h1>
                <h2>Really motivating text</h2>
            </section>

            <section>
                    <a href="#section2">Learn more</a>
                    <a href="#">Take action!</a>
            </section>
        </section>

        <section id="section2">
            <section>
                <h1>Here be some info!</h1>
            </section>

            <section class="deck">
                <div class="card">
                    <figure>
                        <img src="" alt="">
                    </figure>

                    <p>Some text goes here</p>
                    <button>Call to action</button>
                </div>

                <div class="card">
                    <figure>
                        <img src="" alt="">
                    </figure>

                    <p>Some text goes here</p>
                    <button>Call to action</button>
                </div>

                <div class="card">
                    <figure>
                        <img src="" alt="">
                    </figure>

                    <p>Some text goes here</p>
                    <button>Call to action</button>
                </div>

            </section>
        </section>

        <section id="section3">
            Contact form
        </section>
    </main>

    <footer>
        &copy 2019, Company Name
    </footer>
</body>
</html>