<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/css/base.css">
    <link rel="stylesheet" href="../public/css/layout.css">
    <link rel="stylesheet" href="../public/css/modules.css">
</head>
<body>
    <div>
        <header><p>a</p></header>
    
        <aside><p>b</p></aside>
        <main>
            <section><p>c</p></section>
            <section><p>d</p></section>
            <section><p>e</p></section>
            <section><p>f</p></section>
            <section><p>g</p></section>
            <section><p>h</p></section>
        </main>
        
        <footer><p>i</p></footer>
    </div>
</body>
</html>