
/********************
* General
******/
  /********************
  * Grid Areas
  ******/
  
  /********************
  * Mobile
  ******/
  @media (max-width: 768px)
  {
    .header { grid-area: a; }
    .aside { grid-area: b; }
    .section1 { grid-area: c; }
    .section2 { grid-area: d; }
    .section3 { grid-area: e; }
    .section4 { grid-area: f; }
    .section5 { grid-area: g; }
    .section6 { grid-area: h; }
    .footer {grid-area: i; }

    /********************
    * Base Grid
    ******/
      .wrapper {
        align-items: center;
        display: grid;
        grid-template-areas:
        "a a"
        "b b"
        "c c"
        "d d"
        "e f"
        "g h"
        "i i";
      }

    /********************
    * Grid item dimensions
    ******/
      header, aside, section, footer {
        align-items: center;
        display: flex;
        height: 15vh;
        justify-content: center;
      }
  }



/* ************************************************************************************** */



/********************
* Desktop
******/
  @media (min-width: 768px)
  {
    .header { grid-area: a; }
    .aside { grid-area: b; }
    .section1 { grid-area: c; }
    .section2 { grid-area: d; }
    .section3 { grid-area: e; }
    .section4 { grid-area: f; }
    .section5 { grid-area: g; }
    .section6 { grid-area: h; }
    .footer {grid-area: i; }
    
    /********************
    * Base Grid
    ******/
      .wrapper {
        display: grid;
        grid-template-areas:
        'a a a a a'
        'b c c d d'
        'b e f g h'
        'b i i i i';

        grid-template-columns: auto auto auto;
        height: 100%;
      }
      
    /********************
    * Grid item dimensions
    ******/
      header, section, footer {
        align-items: center;
        display: flex;
        justify-content: center;
      }
  }